<!DOCTYPE HTML>
<html>
	<head>
    <title>ShoeAura</title>
    <link rel="icon" type="image/png" href="images/shoeAura icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user/error.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        
    <!--cropper-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,0,0" />
	<body>
		

	<nav class="colorlib-nav" role="navigation">
		<div class="top-menu">
			<div class=" nav-container">
                <div class="row">
                    <div class="col-sm-7 col-md-9">
                        <a href="/"><div id="colorlib-logo"><img class="logo-header" src="/images/new shoeAura.png" alt=""></div></a>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <form id="searchForm" class="search-wrap">
                            <div class="form-group">
                                <input type="search" id="searchInput" class="form-control search" placeholder="Search">
                                <button class="btn btn-primary submit-search nav-search text-center" type="submit"><span class="material-symbols-outlined" style="color: white !important; margin-top: 5px ;">
                                search
                                </span></button>
                            </div>
                        </form>                              
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-left menu-1">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                          
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            
                            <!-- Cart Icon -->
                            <li class="cart">
                                <a href="/cart">
                                    <span class="material-symbols-outlined">
                                        shopping_cart_checkout
                                        </span>
                                </a>
                            </li>
                
                            <!-- Profile Icon with Dropdown -->
                            <li class="cart ">
                                <% if (!isLogin) { %>
                                    <div class="dropdown" id="userout">
                                        <span class="material-symbols-outlined">
                                            account_circle
                                            </span>
                                        <div class="dropdown-menu">
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                                </svg>
                                                <h6> Hello User</h6>
                                            </a>
                                            <a id="loginLink" href="/userlogin">
                                                <p>To access your Account</p>
                                                <button type="submit" class="btn primary-btn btn-danger">Login</button>
                                            </a>
                                            <a id="signUpLink" href="/signUp">
                                                <p>Don't have an Account?</p>
                                                <button type="submit" class="btn primary-btn btn-danger">Sign Up</button>
                                            </a>
                                        </div>
                                    </div>
                                    <% } else { %>
                                
                                    <div class="dropdown personicon" id="userin">
                                        <span class="material-symbols-outlined">
                                            account_circle
                                            </span>

                                        <div class="dropdown-menu">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                                </svg>
                                                <h6> Hello <%= isLogin.name%></h6>
                                            <a href="/UserProfile">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                  </svg>
                                                My Profile
                                            </a>
                                            <a href="/myOrders">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                                </svg>  
                                                My Orders
                                            </a>
                                            <a href="/wallet">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#000000">
                                                    <path d="M200-200v-560 560Zm0 80q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v100h-80v-100H200v560h560v-100h80v100q0 33-23.5 56.5T760-120H200Zm320-160q-33 0-56.5-23.5T440-360v-240q0-33 23.5-56.5T520-680h280q33 0 56.5 23.5T880-600v240q0 33-23.5 56.5T800-280H520Zm280-80v-240H520v240h280Zm-160-60q25 0 42.5-17.5T700-480q0-25-17.5-42.5T640-540q-25 0-42.5 17.5T580-480q0 25 17.5 42.5T640-420Z"/>
                                                </svg>
                                                Wallet
                                            </a>

                                            <form action="/logout" method="POST">
                                                <p>Do you want to logout</p>
                                                <button type="submit" class="btn btn-danger">Logout</button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% if (isLogin && isLogin.name) { %>
                                        <p class="personname"><%= isLogin.name %></p>
                                    <% } %>
                                    
                                
                            </li>
                
                            <!-- Heart Icon -->
                            <li class="cart">
                                <a href="/wishlist">
                                    <span class="material-symbols-outlined">
                                        favorite
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
    </nav>
            