<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/user_management.css">
    <title>Add product</title>
    <link rel="icon" type="image/png" href="/images/shoeAura icon.png">



</head>
<body>
    
    <div class="container">
        <div class="sidebar">
            <a href="/admin/dashboard">Dashboard</a>
            <a href="/admin/usermanagement">User Management</a>
            <a class="clr" href="/admin/product_management">Products Management</a>
            <a href="#">Order Management</a>
            <a href="/admin/category_management">Category Management</a>
            <a href="#">Coupons Management</a>
        </div>

        <div class="main-content">
            <nav class="navbar">
                <a class="navbar-brand"><div id="colorlib-logo"><img class="logo-header" src="/images/new shoeAura.png" alt=""></div></a>
               
            </nav>

            <div class="content">
                <h1>Product Management</h1>

                <!-- Add Product Form -->
                <div class="add-user-form">
                    <h2>Add Product</h2>
                    <form action="/admin/addproduct" id="addProductForm" method="POST" enctype="multipart/form-data">
                        <!-- Product Name -->
                        <div class="form-group">
                            <label for="Productname">Product name:</label>
                            <input type="text" id="Productname" name="productname" placeholder="Enter Product name" required>
                        </div>
                    
                        <!-- Description -->
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <input type="text" id="description" name="description" placeholder="Enter Description" required>
                        </div>
                    
                        <!-- Category -->
                        <div class="form-group">
                            <label for="Category">Category:</label>
                            <input type="text" id="Category" name="category" placeholder="Enter Category" required>
                        </div>
                    
                        <!-- Brand -->
                        <div class="form-group">
                            <label for="Brand">Brand:</label>
                            <input type="text" id="Brand" name="brand" placeholder="Enter Brand" required>
                        </div>
                    
                        <!-- OG Price -->
                        <div class="form-group">
                            <label for="OGPrice">Original Price:</label>
                            <input type="number" id="OGPrice" name="price" placeholder="Enter Price" required>
                        </div>
                    
                        <!-- Sale Price -->
                        <div class="form-group">
                            <label for="SalePrice">Sale Price:</label>
                            <input type="number" id="SalePrice" name="SalePrice" placeholder="Enter Sale Price" required>
                        </div>
                    
                        <!-- Product Offer -->
                        <div class="form-group">
                            <label for="ProductOffer">Product Offer:</label>
                            <input type="number" id="ProductOffer" name="productOffer" placeholder="Enter Product Offer" min="0" max="100">
                        </div>
                                       
                    
                        <div class="form-group">
                            <label>Choose Colors:</label>
                            <div>
                                <label for="RedColor">Red</label>
                                <input type="checkbox" id="RedColor" name="colors[]" value="Red">
                            </div>
                            <div>
                                <label for="GreenColor">Green</label>
                                <input type="checkbox" id="GreenColor" name="colors[]" value="Green">
                            </div>
                            <div>
                                <label for="BlueColor">Blue</label>
                                <input type="checkbox" id="BlueColor" name="colors[]" value="Blue">
                            </div>
                            <div>
                                <label for="YellowColor">Yellow</label>
                                <input type="checkbox" id="YellowColor" name="colors[]" value="Yellow">
                            </div>
                            <div>
                                <label for="BlackColor">Black</label>
                                <input type="checkbox" id="BlackColor" name="colors[]" value="Black">
                            </div>
                            <div>
                                <label for="WhiteColor">White</label>
                                <input type="checkbox" id="WhiteColor" name="colors[]" value="White">
                            </div>
                            <div>
                                <label for="BrownColor">Brown</label>
                                <input type="checkbox" id="BrownColor" name="colors[]" value="Brown">
                            </div>
                        </div>
                        

                        <!-- Shoe Sizes and Quantities -->
                        <div class="form-group">
                            <!-- Product Images -->
                            <label for="images">Product Images:</label>
                            <input type="file" id="images" name="productImages" accept="image/*" multiple required>

                            <label>Choose Shoe Sizes and Quantities:</label>
                            
                            <div>
                                <label>37
                                    <input type="number" id="UKSize37" name="sizes[37]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                            <div>
                                <label>38
                                    <input type="number" id="UKSize38" name="sizes[38]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                            <div>
                                <label>39
                                    <input type="number" id="UKSize39" name="sizes[39]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                            <div>
                                <label>40
                                    <input type="number" id="UKSize40" name="sizes[40]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                            <div>
                                <label>41
                                    <input type="number" id="UKSize41" name="sizes[41]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                            <div>
                                <label>42
                                    <input type="number" id="UKSize42" name="sizes[42]" min="0" placeholder="Quantity" >
                                </label>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn add-user-btn">Add Product</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        
        document.getElementById("addProductForm").addEventListener('submit',function(e){
            e.preventDefault()

            const productname = document.getElementById('Productname').value
            const description = document.getElementById('description').value
            const category = document.getElementById('Category').value
            const brand = document.getElementById('Brand').value
            const ogPrice = parseFloat(document.getElementById('OGPrice').value);
            const salePrice = parseFloat(document.getElementById('SalePrice').value);
            const productOffer = document.getElementById('ProductOffer').value
            const colors = Array.from(document.querySelectorAll('input[name="colors[]"]:checked')).map(checkbox => checkbox.value);
            const productImage = document.getElementById('images').value
            const sizes = {};
            document.querySelectorAll('input[name^="sizes["]').forEach(input => {
                const sizeKey = input.name.match(/\d+/)[0];
                const quantity = parseInt(input.value, 10) || 0; 
                if (quantity > 0) {
                    sizes[sizeKey] = quantity;
                }
            });

            if (salePrice > ogPrice) {
                    Swal.fire({
                        icon: "error",
                        title: "Validation Error",
                        text: "Sale Price cannot be greater than Original Price."
                    });
                    return;
                }
            const formData = new FormData(document.getElementById("addProductForm"));

            fetch('/admin/addproduct', {
                method: 'POST',
                body: formData
            })
            
            .then(response => response.json())
            .then(data =>{
                console.log(data);
                if(data.success){
                    Swal.fire({
                        icon:"success",
                        title:"Success",
                        text:"Product Added successfully"
                    })
                    .then(()=>{
                        window.location.href = '/admin/product_management'
                    })
                }else{
                    Swal.fire({
                        icon:"error",
                        title:"Error",
                        text:"Product Adding Failed"
                    })
                }
            }).catch(error=>{
                console.error("Error",error)
                Swal.fire({
                    icon:"error",
                    title:"Error",
                    text:"Server Error Occured"
                })
            })
        })

    </script>
</body>
</html>
