

<%- include('../../views/partials/user/header.ejs', { isLogin: isLogin }) %>
  <div class="error">
  <h1>User<img class="halloween-image" src="/images/userban2.png" alt="Ban Image">Banned</h1>
  
  <h2>Session Expires!</h2>
  <p> Go Back to Home!</p>
  <div class="container"> 
    <a href="/" class="button">Go Home</a>
  </div>
  
  </div>

<%-include('../../views/partials/user/footer.ejs')%>