body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #0e0d0d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo-header{
    max-width: 250px;
    padding-bottom: 20px;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #4CA858;
    width: 100%;
    max-width: 400px;
    
}

h3.text-center {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group label {
    font-weight: bold;
    color: #ffffff;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #4CA858;
    margin-bottom: 15px;
    background-color: #2a2a2a;
    color: #ffffff;
}

.form-control:focus {
    border-color: #4CA858;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #3a3a3a;
}

.btn-primary {
    background-color: #4CA858;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4bc15b;
}

.text-center a {
    color: #4CA858;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
    color: #4bc15b;

}

@media (max-width: 768px) {
    .login-container {
        padding: 15px;
        width: 90%;
    }
}